<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <br>
    
    <%= button_to 'Login with Google', "auth/google_oauth2", class: "btn btn-primary" %>
    <p>Wanna be a Boozehound? <%= link_to "Register now!", register_path %></p>
  </div>
</div>